= form_for [current_user, @shop] do |f|
  .row
    .span1
    = f.hidden_field :user_id, value: current_user.id
    %table.table.table-bordered.span4
      %tr
        %th= t(:ip)
        %td= f.text_field :ip
      %tr
        %th= t(:title)
        %td= f.text_field :title
      %tr
        %th= t(:address)
        %td= f.text_field :address
    .span7
  .row
    .span1
    = f.submit t(:save), class: 'btn btn-success'