%h1= t(:your_shops)
.row
  .span9
    %table.table.table-bordered
      %tr
        %th= t(:ip)
        %th= t(:title)
        %th= t(:address)
        %td
      - @shops.each do |shop|
        %tr
          %td= shop.ip
          %td= shop.title
          %td= shop.address
          %td
            .span2
              = link_to t(:show), shop_path(shop), class: 'btn'
            .span2
              = link_to t(:edit), edit_shop_path(shop), class: 'btn'
            .span2
              = link_to t(:delete),shop_path(shop), method: :delete, class: 'btn btn-danger'
.row
  =link_to t(:create), new_shop_path, class: 'btn'


