%h1= t(:your_shops)
.container-fluid.row
  .col-md-8
    %table.table.table-bordered
      %tr
        %th.col-md-3= t(:ip)
        %th.col-md-3= t(:title)
        %th.col-md-3= t(:address)
        %td.col-md-3
      - @shops.each do |shop|
        %tr
          %td= shop.ip
          %td= shop.title
          %td= shop.address
          %td
            .btn-group
              = link_to t(:show), user_shop_path(current_user, shop), class: 'btn btn-default btn-xs'
              = link_to t(:edit), edit_user_shop_path(current_user, shop), class: 'btn btn-default btn-xs'
              = link_to t(:delete), user_shop_path(current_user, shop), method: :delete, class: 'btn btn-danger btn-xs'
.container-fluid.row
  .col-md-8
    =link_to t(:create), new_user_shop_path(current_user), class: 'btn btn-success'


