%h1= t(:your_shop)
.row
  .span9
    %table.table.table-bordered
      %tr
        %th= t(:ip)
        %td= @shop.ip
      %tr
        %th= t(:title)
        %td= @shop.title
      %tr
        %th= t(:address)
        %td= @shop.address
      %tr
        %th= t(:auth_token)
        %td
          .shop_auth_token
            = link_to t('auth_token'),get_token_user_shop_path(current_user, @shop.id), remote: true
      %tr
        %th= t(:token_expire)
        %td= @shop.token_expire
    .fa-comment
      = t "Remember, for API access you need to provide your login too."
    %br
.row
  =link_to t(:edit), edit_user_shop_path(current_user, @shop)
  =link_to t(:back), user_shops_path(current_user)

