%h1= t(:your_shop)
.row
  .span9
    %table.table.table-bordered
      %tr
        %th= t(:ip)
        %td= @shop.ip
      %tr
        %th= t(:title)
        %td= @shop.title
      %tr
        %th= t(:address)
        %td= @shop.address
      %tr
        %th= t(:auth_token)
        %td= @shop.auth_token
      %tr
        %th= t(:token_expire)
        %td= @shop.token_expire
.row
  =link_to t(:edit), edit_user_shop_path(current_user, @shop)
  =link_to t(:back), user_shops_path(current_user)