= form_for @user do |f|
  .container-fluid.row
    .col-md-6
      %table.table.table-bordered
        %tr
          %th= t('user.name')
          %td= f.text_field :name
        %tr
          %th= t('user.email')
          %td= f.text_field :email
        %tr
          %th= t('user.specs')
          %td= f.text_field :specs
        %tr
          %th= t('user.login')
          %td= f.text_field :login
  .container-fluid.row
    .col-md-6
      = f.submit t(:save), class: 'btn'