%h3= t 'tariff.change'
.tariff-errors
  -if @msg.present?
    =@msg
= form_tag update_tariff_user_path(@user), method: :put do
  .row
    .span2
    .span6
      %table.table.table-bordered
        -Tariff.all.each do |t|
          %tr
            %th= t("tariff.#{t.title.downcase}")
            %th= t "tariff.cost"
            %th= "max shops #{t.shops_count}"
            %td
              =radio_button_tag :tariff_id, t.id, t.id == @user.tariff_id
      = submit_tag t(:update), class: 'btn btn-primary btn-small', data: { confirm: 'Are You sure?' }
