%h1= t(:your_cabinet)
.row
  .span4
    %h3= "Привет, #{ current_user.get_name }"
  .span5
.row
  .span4
    %h2= "Ваш тариф #{ @tariff.title }"
  .span2
    = link_to t(:change_tariff), settings_user_path, class: 'btn btn-large'


