%h3= t('user.settings')
=render 'layouts/errors', object: @user
.row
  .span2
  .span6
    = "Ваш баланс #{@user.balance}"
    = link_to 'Поплнить баланс', new_user_payment_path(current_user)
= render 'users/form'
= render 'users/tariff'
