%h1= t("unvalidated_ware.show")
.row
  .span9
    %table.table.table-bordered
      %tr
        %th= t(:barcode)
        %td= @uware.barcode
      %tr
        %th= t(:title)
        %td= @uware.title
      %tr
        %th= t(:comment)
        %td= @uware.comment
.row
  =link_to t(:edit), edit_user_unvalidated_ware_path(current_user, @uware)
  =link_to t(:back), user_unvalidated_wares_path(current_user)
