.wares
  %table.table.table-bordered
    %tr
      %th= t :title
      %th= t :ware_type
      %th= t :id_ext
      %th= t :specs
    -wares.each do |ware|
      %tr
        %td= ware.title
        %td= ware.ware_type
        %td= ware.id_ext
        %td= ware.specs