%h1= t "ware.show"
.container-fluid
  .col-md-9
    %table.table.table-bordered
      %tr
        %th= t "ware.title"
        %th= t "ware.specs"
      %tr
        %td= @ware.title
        %td= @ware.specs
.container-fluid
  =link_to t("back"), wares_path(), class: 'btn btn-default'
