.row
  .span12
    %ul.nav.nav-pills
      %li= link_to t(:main_page), greetings_path
      %li= link_to t(:about), about_greetings_path
      %li= link_to t(:contact_us), contact_greetings_path
      -if current_user
        %li= link_to t(:cabinet), cabinet_user_path(current_user)
        %li= link_to t(:settings), settings_user_path(current_user)
        %li= link_to t(:shops), user_shops_path(current_user)
        %li.divider
          .span5
            = t :you_login_as
            = current_user.get_name
        %li= link_to t(:logout), destroy_user_session_path, method: :delete
      -else
        %li.divider
          .span7
        %li.active= link_to t(:sign_in), user_session_path
        %li= link_to t(:sign_up), new_user_registration_path

